<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    {% if b %}
      <div class="thankyou">
      <p>thank you {{name}}!</p>
    {% endif %}  
  </div>
  <div class="background-image"></div>
  <header class="header">
    <a href="#" class="logo">TravlerPack</a>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/mission">About Us</a>
      <a href="/design">Product Design</a>
      <a href="https://www.launchgood.com/campaign/warm_blankets_for_refugee_children#!/">Donate</a>
      <a href="#">Contact</a>
    </nav>
  </header>
  <div class="container">
    <div class="card">
      <span class="title">Get In Touch</span>


      <form action="/contact" method="POST" class="form">
        <div class="group">
          <input placeholder="‎" type="text" name="name" id="name" required="">
          <label for="name">Name</label>
        </div>
        <div class="group">
          <input placeholder="‎" type="text" name="username" id="username" required="">
          <label for="name">Username</label>
        </div>
        <div class="group">
          <input placeholder="‎" type="email" id="email" name="email" required="">
          <label for="email">Email</label>
        </div>
        <div class="group">
          <input placeholder="‎" id="comment" name="comment" rows="5" required=""></textarea>
          <label for="comment">Comment</label>
        </div>
        <button type="submit" value="submit_feedback">Submit</button>
      </form>


    </div>
  </div>
  <br>
 
  <style type="text/css">
    /* styles.css */

    .thankyou {
      position: absolute;
      background-color: #f1c40f; /* Replace this with the desired background color */
      border-radius: 5px; /* Optional: Add rounded corners to the message box */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a box shadow for a subtle effect */
      max-width: 200px;
      border: 5px solid;
      margin: auto;
      width: 50%;
      padding: 10px;
      margin-top: 100px;
      margin-left: 43%;
    }
  </style>
</body>
</html>
