<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="background-image"></div>
  <header class="header">
    <a href="#" class="logo">TravlerPack</a>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="#mission">About Us</a>
      <a href="#">Product Design</a>
      <a href="https://www.launchgood.com/campaign/warm_blankets_for_refugee_children#!/">Donate</a>
      <a href="#">Contact</a>
    </nav>
  </header>
  <div class="container">
    <div class="card">
      <span class="title">Get In Touch</span>


      <form action="/contact" method="POST" class="form">
        <div class="group">
          <input placeholder="‎" type="text" name="name" id="name" required="">
          <label for="name">Name</label>
        </div>
        <div class="group">
          <input placeholder="‎" type="text" name="username" id="username" required="">
          <label for="name">Username</label>
        </div>
        <div class="group">
          <input placeholder="‎" type="email" id="email" name="email" required="">
          <label for="email">Email</label>
        </div>
        <div class="group">
          <input placeholder="‎" id="comment" name="comment" rows="5" required=""></textarea>
          <label for="comment">Comment</label>
        </div>
        <button type="submit" value="submit_feedback">Submit</button>
      </form>


    </div>
  </div>
  <br>
  <div class="thankyou">
    {% if b %}
      <p>thank you {{name}}!</p>
    {% endif %}
    
  </div>
  <style type="text/css">
    .thankyou{
      position: =absolute;
      top:10%;
      left: 50%;
    }
  </style>
</body>
</html>
